*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body
{
    background-color: #041f58d7;
    color: rgb(255, 242, 242);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    display: flex;
    flex-direction: column;
    background-color: rgba(93, 189, 157, 0.555);
    padding: 20px;
    border-radius: 5px;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h1
{
    font-size: 1.5rem;
    text-align: center;
}

.user-container
{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: start;
}

.user-container p
{
    font-size: 0.8rem;
    color: rgba(240, 255, 255, 0.712);
}

#user-input-field
{
    font-size: 0.5rem;
    padding: 0rem 2rem;
    text-align: center;
    width: 70%;
}

#user-input-button
{
    text-align: center;
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem;
}

.user-input-container
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

.progress-item
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgb(18, 110, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background: conic-gradient(#299f5d var(--progress-degree, 0%), #283a2e 0%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.progress
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}